*{
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.header .header__title-of-page{
  width: 100%;
  font-size: 100px;
  text-align: center;
  font-weight: 100;
  font-stretch: normal;
  font-variant: small-caps;
  color: #6899D3;
}

.header .header__contacts{
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.header .header__contacts .header__contacts-inner{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header .header__contacts .header__contacts-caption{
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  color: #555;
}

.header .header__contacts .header__contacts-icons{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__contacts .header__contacts-icons img{
  width: 50px;
  margin-right: 15px;
}
















.navigation{
  background-color: #e5e5e5;
}

.navigation .navigation__menu{
  display: inline-block;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .navigation__menu .navigation__menu-item{
  font-size: 30px;
}

.navigation .navigation__menu .navigation__menu-item a{
  display: block;
  color: #555;
  text-decoration: none;
}

.navigation .navigation__menu .navigation__menu-item a:hover{
  text-decoration: underline;
}












.post__outer{
  margin: 10px 0;
  border-radius: 7px;
}

.post__inner{
  text-align: center;
}

.post .title{
  padding: 15px;
  font-weight: 400;
  background-color: #689AD3;
  color: white;
}

.post__outer .post .post__inner .description{
  padding: 20px;
  background-color: #e5e5e5 /*#B9D1EC*/;
}

.post__outer .post .post__inner .description p{
  font-family: sans-serif;
}






.footer{
  background-color: #284A7E;
}

.footer .footer__description{
  padding: 25px 0;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  color: white;
}










@media (min-width: 541px){
  .navigation .navigation__inner{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .navigation .navigation__menu .navigation__menu-item a{
    padding: 10px 20px 5px;
  }
  .post{
    font-weight: 400;
  }
  .post .title{
    border-radius: 8px 8px 0 0;
    font-size: 50px;
  }
  .post__outer .post .post__inner .description{
    font-size: 27px;
  }
  .main{
    padding: 20px 10%;
  }
  .footer .footer__description{
    padding: 20px 0;
  }
}

@media (max-width: 540px){
  .header .header__title-of-page{
    font-size: 70px;
  }
  .header .header__contacts .header__contacts-caption{
    font-size: 30px;
  }
  .navigation .navigation__menu{
    flex-direction: column;
  }
  .navigation .navigation__menu .navigation__menu-item{
    width: 100%;
    border-bottom: 1px solid #4284D3;
  }
  .navigation .navigation__menu .navigation__menu-item a{
    padding: 20px 0px;
  }
  .post .title{
    font-size: 36px;
  }
  .post__outer .post .post__inner .description p{
    font-size: 20px;
  }
  .footer .footer__description{
    padding: 25px 0;
  }
}
